header
  figure
    span.name
      span.word.gorilla="Gorilla"
      span.word.tron="Tron"
    div.image-wrapper
      canvas#wine
      img(src="/stylesheets/img/face.jpg")
  div#tagline
    |Code maker, techno listener & winedrinker
  

div#content-wrapper
  section#bio
    h1="About"
    div.row
      
      div.column.span6
        h2="André Tangen"
        p
          |Web-developer and javascript feinschmecker that loves opensource javascript and beautifull UI design.
          |Allso dabbles quite a bit with nodejs and other server technologies. Nothing makes me more furious than bad api design.
        p
          |Currently enjoying working
          a(href="https://twitter.com/#!/wtwsoftware")="@wtwsoftware"
      
      div.column.span3.social
        h2="Social"
        p="Stalk me on"
        div.social-icon.twitter
        div.social-icon.github
      
      div.column.span3.buzzwords
        h2="Buzz words"
        ul.words
          li.word
            div.point
            |Javascript
          li.word
            div.point
            |ECMAScript
          li.word
            div.point
            |HTML
          li.word
            div.point
            |CSS
          li.word
            div.point
            |Node
          li.word
            div.point
            |Git
          li.word
            div.point
            |Github
          li.word
            div.point
            |Backbonejs
          li.word
            div.point
            |Opensource
  div(style="clear: both")
             
          